/* CSS RESET START */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
    margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
    height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {

    max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

/* CSS RESET END */


body {
    background-color: black;




}

ul {
    list-style: none;
    padding: 0px;
}



nav.mainNav {
    background-color: wheat;
    position: absolute;
    top: 0;
    left: 90px;
    
}


nav.sideNav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 90px;
    background-color: rgb(16, 10, 23);
    overflow: hidden;
    transition: width 0.2s linear;

}


a {
    display: table;
    padding: 10px;
    text-decoration: none;
    position: relative;
    color: white;
    width: 200px;

}

a.nav-item:hover {
    margin: 0 1rem;
    transition: all 0.5s ease;
    background-color: gray;
    border-radius: 12px;
}


.nav-icon {

    padding: 0 2.2rem;
}


img.nav-icon {
    width: 50%;
    border-radius: 100%;
}


nav.sideNav:hover {
    width: 230px;
    transition: all 0.5s ease;
}


hr {
    margin: 1rem .8rem;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


